body {
  background-color: rgb(186, 216, 246);
}
h1 {
  color: black;
  text-align: center;
}

#take {
  position: absolute;
  left: 70px;
  
}
#import {
  position: absolute;
  right: 70px;
}
.text {
  font-size: 20px;
  position: relative;
  text-align: center;
  top: 0px;
}
.button {
  width: 200px;
  border: 0;
  line-height: 2;
  font-size: 1rem;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 1px lightcyan;
  border-radius: 10px;
  background-color: lightsteelblue;
  background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2)30%,
                                      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  padding: 50px;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
}
.image {
  width: 50px;
  height: auto;
}

  