/* Entire page */
* {
  font-family: Arial;
}
body {
  background-color: powderblue;  
}

/* Header */
h1 {
  color: black;
  text-align: center;
  width: 100%;
  /* top horizontal bottom*/
  margin: 40px auto 0;
}

/* All buttons */
h3 {
  color: black;
  font-size: 20px;
  top: 0px;
  display: inline-block;
  margin: 10px;
}
button, 
.js .input-file-trigger,
.js .input-file {
  position: absolute;


  border: 0;
  border-radius: 10px;
  line-height: 2;
  font-size: 1rem;
  color: black;
  background-color: darkseagreen;
  background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2)30%,
                                      rgba(0, 0, 0, 0));
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  display: inline-block;
}

/* Two photo buttons */
#photoButtonsDiv {
  position: absolute;
  width: 100%;
  height: 50%;
}
#take, #import, 
.js .input-file-trigger,
.js .input-file {
  width: 200px;
  height: 250px;
  top: 0;
  bottom: 0;
  padding: 50px;
}
#take {
  /* top right bottom left */
  margin: auto 5% auto 30%;
  right: 50%;
}
#import, 
.js .input-file-trigger,
.js .input-file {
  margin: auto 30% auto 5%;
  left: 50%;
}
.icon {
  width: 50px;
  height: auto;
}

/* Import photo button */
.input-file-container {
  /*position: relative;
  width: 225px;*/
} 
.js .input-file-trigger {
  /*display: block;
  padding: 14px 45px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;*/
}
.js .input-file {
  /*position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;*/
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: darkseagreen;
}
.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}







/* Dropdown category */
.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

/* Custom dropdown */
.dropdown {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 350px;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.dropdown select {
  background-color: darkseagreen;
  color: black;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em; 
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.dropdown::before,
.dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}









/* No photo error */
h4 {
  color: red;
  font-size: 20px;
  position: absolute;
  width: 100%;
  height: 80px;
  bottom: 130px;
  margin: auto;
  text-align: center;
  line-height: 100px;
}

/* Done button */
#doneButtonDiv {
  position: absolute;
  width: 100%;
  height: 110px;
  bottom: 20px;
}
#done {
  position: absolute;
  width: 200px;
  height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: auto;
  margin: auto;
}


  