<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Face Match Predictor</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.css">
  </head>

  <body ng-app="myApp" ng-cloak style="background-color: #efefef" ng-controller="myCtrl" layout="column">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span>Face Match predictor</span>
    </div>
  </md-toolbar>
  <md-content flex style="width:420">
    <md-card>
      <md-card-content>
        <p><em>The application to predict a face match.</em></p>
       </md-card-content>
    </md-card>

    <md-card>
      <md-card-content>

        <div layout="row" layout-align="space-between center">
          <span>Person to Predict</span>

          <!-- Use in first controller -->
          <input type="file" ngf-select="" ng-model="picFile" name="file"    
          accept="image/*" ngf-max-size="2MB" required
          ngf-model-invalid="errorFile">

          <!-- Use in second controller -->
          <!-- <input ng-model="data.person"
       onchange="angular.element(this).scope().file_changed(this)"
       type="file" accept="image/*" /> -->

          <!-- Don't use -->
          <!-- <md-select ng-model="data.person" placeholder="Select">
            <md-option value="1">Huize</md-option>
            <md-option value="2">Kaitlyn</md-option>
          </md-select> -->
        </div>

        <div style="margin-bottom:32px" layout="row" layout-align="space-between center">
          <span>Category</span>
          <md-radio-group ng-model="category" layout="row">
            <md-radio-button value="prof">Professors</md-radio-button>
            <md-radio-button value="student">Students</md-radio-button>
            <md-radio-button value="celeb">Celebrities</md-radio-button>
          </md-radio-group>
        </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="uploadFiles(picFile)" class="md-accent md-raised">Predict</md-button>
      </md-card-actions>
    </md-card>

    <md-card>
      <md-card-content>
        <div layout="row" layout-align="space-between center">
          <span>Prediction</span>
          <span>{: result :}</span>
        </div>
      </md-card-content>
    </md-card>
  </md-content>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular-animate.js"></script>

  <!-- New Stuff -->
  <!-- <script src="ng-file-upload-bower-12.2.13/angular.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script> -->
  <!-- <script src="https://github.com/danialfarid/ng-file-upload/blob/master/dist/ng-file-upload.js"></script> -->
  <!-- <script src="ng-file-upload(.min).js"></script> -->
  <!-- <script src="ng-file-upload-bower-12.2.13/ng-file-upload.js"></script> -->
  <!-- <script src="ng-file-upload-bower-12.2.13/ng-file-upload.min.js"></script> -->
  <!-- <script src="https://github.com/danialfarid/ng-file-upload/blob/master/dist/ng-file-upload.min.js"></script> -->

  <!-- <script src="https://www.cs.hmc.edu/~huhuang/cs121/ng-file-upload-bower-12.2.13/angular.js"></script> -->
  <script src="https://www.cs.hmc.edu/~huhuang/cs121/ng-file-upload-bower-12.2.13/ng-file-upload-shim.js"></script>
  <script src="https://www.cs.hmc.edu/~huhuang/cs121/ng-file-upload-bower-12.2.13/ng-file-upload.js"></script>
  <!-- <script src="https://www.cs.hmc.edu/~huhuang/cs121/ng-file-upload-bower-12.2.13/ng-file-upload.min.js"></script> -->
  
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script> -->


  <!-- <script src="https://ajax.googleapis.com/ajax/libs/ng-file-upload-bower-12.2.13/angular.min.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/ng-file-upload-bower-12.2.13/ng-file-upload.js"></script> -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/ng-file-upload-bower-12.2.13/ng-file-upload.min.js"></script> -->



  <!-- Testing javasript from gcp of tutorial -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/mode/htmlembedded/htmlembedded.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/mode/htmlmixed/htmlmixed.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/mode/javascript/javascript.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/4.8.0/mode/xml/xml.min.js"></script>
  <!-- <script src=""></script> -->
  <!-- <script src=""></script> -->


  <!-- make public github, host the ng libs -->

  <script>

    var app = angular.module('myApp', ['ngMaterial']);
    app.config(['$interpolateProvider', function($interpolateProvider) {
      $interpolateProvider.startSymbol('{:');
      $interpolateProvider.endSymbol(':}');
    }]);
    app.config(function($mdThemingProvider) {
      $mdThemingProvider.theme('default')
        .primaryPalette('blue-grey')
        .accentPalette('orange');
    });

    app.controller('myCtrl', ['$rootScope', '$http', 'Upload', '$timeout', function ($rootScope, $http, Upload, $timeout) {
      $rootScope.uploadFiles = function(file) {
          $rootScope.f = file;
          // $scope.errFile = errFiles && errFiles[0];
          if (file) {
              file.upload = Upload.upload({
                  url: 'https://face-match-upload.appspot.com/upload/storage/v1/b/image-upload-trial/o?uploadType=media',
                  // url: 'https://www.googleapis.com/upload/storage/v1/b/image-upload-trial/o?uploadType=media',
                  method: 'POST',
                  data: {file: file}
              });

              file.upload.then(function (response) {
                  $timeout(function () {
                      file.result = response.data;
                  });
              }, function (response) {
                  if (response.status > 0)
                      $rootScope.errorMsg = response.status + ': ' + response.data;
              }, function (evt) {
                  file.progress = Math.min(100, parseInt(100.0 * 
                                          evt.loaded / evt.total));
              });
          }   
      }
    }]);

    app.controller('MyCtrl', ['$scope', '$http',
      function($scope, $http) {
        $scope.file_changed = function(element) {
          $scope.$apply(function(scope) {
              var photofile = element.files[0];
              var reader = new FileReader();
              reader.onload = function(e) {
                // handle onload
              };
              reader.readAsDataURL(photofile);
          });
        };
        $scope.data = {};
        $scope.submit = function() {
          $scope.result = "Wait...";
          $http({
            method : 'POST',
            url : '/upload/storage/v1/b/image-upload-trial/o',
            data: $scope.data
          }).success(function(data, status, headers, config) {
            $scope.result = data.result;
          }).error(function(data, status, headers, config) {
            $scope.result = data.result;
          });
        }
      }
    ]);
  </script>
</body>
</html>
